@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background: lightseagreen;

}
.head h1{
    text-align: center;
    margin-top: 15px;
    color: whitesmoke;
    font-family: 'Acme', sans-serif;
}

.head img{
    margin-left: 450px;
    margin-top: 15px;
    border: 5px solid black;
}

.head h2{
    text-align: center;
    margin-top: 10px;   
    font-family: 'Acme', sans-serif;
}

.head p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}

.head ul li{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Acme', sans-serif;
}

#footerText p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}